<main class="main">
    <div class="main__accounts">
        <app-account *ngFor="let account of (accounts$ | async); let i = index; trackBy:trackBy" [account]="account">
        </app-account>
    </div>

    <div class="main__transactions">
        <app-transaction *ngFor="let transaction of transactions; let i = index; trackBy:trackBy"
         [transaction]="transaction"
         (click)="openTransactionDialog(transaction)">
        </app-transaction>
    </div>

    <div class="main__buttons">
        <app-transaction-button 
            type="Income">
        </app-transaction-button>
        <app-transaction-button 
            type="Expenses">
        </app-transaction-button>
        <app-add-button
            text="Add Transaction"
            (click)="openCreateTransactionDialog()"
        ></app-add-button>
        <app-add-button
            text="Add Account"
            (click)="openCreateAccountDialog()"
        ></app-add-button>
    </div>
</main>
<app-deleted-notification *ngIf="showDeletedTransactionNotification"></app-deleted-notification>