<main class="main">
    <div class="main__accounts">
        <app-account *ngFor="let account of (accounts$ | async); let i = index; trackBy:trackBy"
         [account]="account"
         (deleted)="onAccountDelete()">
        </app-account>
    </div>

    <div class="main__transactions">
        <form [formGroup]="searchForm">
            <mat-form-field appearance="fill" class="main__search">
                <mat-icon matPrefix class="main__search-icon">search</mat-icon>
                <input matInput type="search" placeholder="Search" 
                (input)="filterTransactions()" class="main__search-input" formControlName="searchTerm">
            </mat-form-field>
        </form>
        <div class="main__transaction-items">
            <app-transaction *ngFor="let transaction of filteredTransactions; let i = index; trackBy:trackBy"
            [transaction]="transaction"
            [currency]="selectedAccountCurrency"
            (click)="openTransactionDialog(transaction)">
            </app-transaction>
        </div>
    </div>

    <div class="main__buttons">
        <app-transaction-button 
            (click)="onFilter('expenses')" 
            type="Income"
            [filter]="filterType !== '' ? (filterType === 'expenses' ? 'income' : 'expenses') : ''"
            >
        </app-transaction-button>
        <app-transaction-button 
            (click)="onFilter('income')" 
            type="Expenses"
            [filter]="filterType !== '' ? (filterType === 'expenses' ? 'income' : 'expenses') : ''"
            >
        </app-transaction-button>
        <app-add-button
            text="Add Transaction"
            (click)="openCreateTransactionDialog()"
        ></app-add-button>
        <app-add-button
            text="Add Account"
            (click)="openCreateAccountDialog()"
        ></app-add-button>
    </div>
</main>
<app-deleted-notification *ngIf="showDeletedNotification" [itemName]="deletedItemName"></app-deleted-notification>