@use "src/colors" as colors;

.account {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__header-text {
        margin-bottom: 0;
        font-size: 2rem;
        line-height: 2.563rem;
    }

    &__buttons {
        button {
            border: none;
            cursor: pointer;
            background-color: colors.$button-background-primary;
        }

        button:hover {
            background-color: colors.$button-hover;
        }
        
        mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.298rem;
            height: 2.298rem;
        }
    }

    &__close-button-container {
        display: flex;
        justify-content: flex-end;

        button {
            background: none;
            border-width: 0;
            height: 3rem;
        }
    }
}

p {
    margin-bottom: 0;
}

.horizontal-line {
    margin: 1rem 0;
    height: 0.023rem;
    width: 32.5rem;
    background-color: colors.$horizontal-line;
}

.text {
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-bottom: 0;
}

.bold-text {
    font-weight: 700;
    width: 11.274rem;
}

.row {
    display: flex;
}