$button-primary: #B9E2E6;
$button-background-primary: #F9F9F9;
$button-background: #ECEDED;
$category-background:#ECEDED;
$button-background-selected: #F9F9F9;
$button-background-not-selected: rgba(255, 255, 255, 0.6);
$button-hover: #ECEDED;
$form-input: #474747;
$text-primary: #373737;
$text-secondary: #dfdddd;
$button-border-selected: #373737;
$button-border-not-selected: rgba(55, 55, 55, 0.5);
$login-wrapper-background: rgba(255, 255, 255, 0.8);
$logo: black;
$error: red;
$transaction-background: #F9F9F9;
$dialog-background: #F9F9F9;
$form-field-background: white;
$white: white;
$background-primary: #EFEFEF;
$account-gradient-start:#E55D87;
$account-gradient-finish: #5FC3E4;
$currency:  #D376D7;
$account-amount: #F8F8F8;
$income: #21C206;
$expense: #EE3F19;
$notification-success: #1AA103;
$horizontal-line: #333333;
$border: #000000;