@use "src/colors" as colors;

.categories {
    background: colors.$background-primary;
    height: 100%;
    display: flex;
    margin-top: 3.1rem;
    justify-content: space-between;
    padding-right: 2.625rem;

    &__main-part {
        padding-top: 0;
        margin-bottom: 0;
        padding-left: 2.625rem;
    }

    &__items {
        display: flex;
        flex-wrap: wrap
    }

    &__search {
        width: 40.5rem;
    }

    &__search-input {
        line-height: 1.7rem;
        font-size: 1.125rem;
        color: colors.$form-input;
        margin-left: 0.8rem;
    }

    &__search-icon {
        transform: scale(1.5);
        color: colors.$form-input;
        opacity: 0.9;
    }
}

.categories__search ::ng-deep .mat-form-field-underline {
    display: none;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: colors.$transaction-background;
    border-radius: 0.625rem;
}