<div class="categories">
    <div class="categories__main-part">
        <form [formGroup]="searchForm">
            <mat-form-field appearance="fill" class="categories__search">
                <mat-icon matPrefix class="categories__search-icon">search</mat-icon>
                <input matInput type="search" placeholder="Search" 
                (input)="filterCategories()" class="categories__search-input" formControlName="searchTerm">
            </mat-form-field>
        </form>
        <div class="categories__items">
            <app-category 
                *ngFor="let category of filteredCategories; let i = index; trackBy: trackBy"
                 [category]="category" (successfullyDeleted)="onDeletedCategory($event)">
            </app-category>
        </div>
    </div>

    <div class="categories__buttons">
        <app-transaction-button
            (click)="onFilter('expenses')" 
            type="Income"
            [filter]="filterType !== '' ? (filterType === 'expenses' ? 'income' : 'expenses') : ''">
        </app-transaction-button>
        <app-transaction-button 
            (click)="onFilter('income')" 
            type="Expenses"
            [filter]="filterType !== '' ? (filterType === 'expenses' ? 'income' : 'expenses') : ''">
        </app-transaction-button>
        <app-add-button
            text="Add Category"
            (click)="openCreateCategoryDialog()"
        ></app-add-button>
    </div>
</div>
<app-deleted-notification *ngIf="showDeletedNotification" itemName="Category"></app-deleted-notification>